<%- include ('../partials/header') %>
<br><br><br><br>

<h1>Admin Panel</h1>

<br><br><br><br>

<table class="table table-striped w-75">
    <thead>
        <tr>
            <th>Öğrenci Listesi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--Buraya öğrencilerin bulunduğu bir liste konulacak user rolelerini kontrol edip
            öğrenci olup olmadıklarına bakmak lazım-->
            <td></td>
        </tr>
    </tbody>
    
</table>


<table class="table table-striped w-75">
    <thead>
        <tr>
            
            <th>Öğretmen Listesi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--Buraya öğrencilerin bulunduğu bir liste konulacak user rolelerini kontrol edip
            öğretmen olup olmadıklarına bakmak lazım-->
            <td></td>
        </tr>
    </tbody>
    
</table>

<%- include ('../partials/footer') %>