<%- include ('./partials/header') %>
<br><br><br>
<style>
    #konteynır{
      border-color: lightgray;
      border-radius: 5px;
      background-color: #fcfcfc;
    }
    a{
        text-decoration: none;
        margin-left: 5px;
    }
</style>

<div id="konteynır" class="container w-50 py-2 d-flex justify-content-center align-items-center  border border-2">
   
    <div class="">
        <h3 class="mb-3 p-2 border-bottom">E-Learn Hesabınızda Oturum Açın</h3>
        <form id="login" action="/login" method="POST">
            <div class="mb-3">
                <i class="fa-solid fa-user "></i>
                <input type="email" id="username" class="form-control" name="username" placeholder="E-mail Address">
            </div>
            
            <div class="mb-3">
                <i class="fa-solid fa-lock m-2"></i>
                <input type="password" id="password" class="form-control" name ="password" placeholder="Password">
            </div>
            <input style="margin-left: 250px;" type="submit" value="Login" class="btn btn-lg btn-outline-primary mt-1 mb-2 btn-lg-6 ">
            <p class="mt-3 text-center"> <a href="/signin">Admin Login</a></p>
        </form>
        <p class="mt-3 text-center">Hesabınız yok mu <a href="/register">Kaydol</a></p>
        
    
    </div>
   
</div>

<br><br><br><br>

<%- include ('./partials/footer') %>