<%- include ('./partials/header') %>

<style>
    .containers{
        width: 100%;
        height: 15%;
        background-color: #000;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;

    }
    .contents{
        width: 60%;
        margin: 100px;
        display: flex; 
        flex-direction: row;
    }

    .cards{
        width: 200px;
        height: 220px;
        border:1px solid rgb(184, 184, 204);
        
        margin-right: 60px;
    }
    .cards:hover{
        box-shadow:1px 1px 1px rgb(184, 184, 204) ;
    }

    h5{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
</style>

<div class="containers text-center">
    <h2 class="display-5 py-4">Öğrenim İçeriğim</h2>
</div>

<div class="contents">
    <div class="cards">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok" width="200" height="125" >
        <h5>c# a giriş</h5>
        <h5>Atıl samancıoğlu</h5>
        <p>%5 tamamlandı</p>
    </div>
    <div class="cards">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok" width="200" height="125" >
        <h5>c# a giriş</h5>
        <h5>Atıl samancıoğlu</h5>
        <p>%5 tamamlandı</p>
    </div>
    <div class="cards">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok" width="200" height="125" >
        <h5>c# a giriş</h5>
        <h5>Atıl samancıoğlu</h5>
        <p>%5 tamamlandı</p>
    </div>
    <div class="cards">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok" width="200" height="125" >
        <h5>c# a giriş</h5>
        <h5>Atıl samancıoğlu</h5>
        <p>%5 tamamlandı</p>
    </div>
    <div class="cards">
        <img src="https://www.turkcebilgi.com/uploads/media/resim/mona_lisa.jpg" alt="yok" width="200" height="125" >
        <h5>c# a giriş</h5>
        <h5>Atıl samancıoğlu</h5>
        <p>%5 tamamlandı</p>
    </div>
</div>


<%- include ('./partials/footer') %>