<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/b2df9fdb37.js" crossorigin="anonymous"></script>
    <style>
        *{
            margin: 0;
            box-sizing: border-box;
        }

        body{
            font-family: Arial, Helvetica, sans-serif;
        }
        .payment-container {
            width: 30%;
            border: 1px solid gray;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            margin: 350px auto;
            font-size: 1.25rem;
            
        }

        h2 {
            margin: 20px auto;
            font-size: 2rem;
        }

        .row-1 {
            display: flex;
            margin: 25px;

        }

        #owner {
            width: 80%;
            margin-right: 20px;
        }

        #cvv {
            width: 20%;
        }

        .row-2 {
            margin: 25px;
            
        }

        .row-2 input{
            width: 100%;
        }

        .row-3 {
            margin: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .row-3-first{
            margin: 0px 20px;
        }
        .row-3-second{
            margin: 0px 20px;
        }
       
        input{
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 2px;
            border: 1px solid gray;
        }

        input[type="submit"]{
            border: 1px solid gray;
            background-color: rgb(155, 38, 155);
            width: 50%;
            margin: 25px 100px;
            color: white;
            font-size: 1.25rem;
            cursor: pointer;
        }

        input:hover{
            border: 1px solid yellow;
            transition: all 1s ease 0.15s;
        }
        
    </style>
</head>

<body>
    <div class="payment-container">
        <h2>Confirm Your Payment</h2>
        <div class="row-1">
            <input type="text" placeholder="owner" name="owner" id="owner" autofocus required>
            <input type="text" placeholder="CVV" id="cvv" name="cvv" required>
        </div>
        <div class="row-2">
            <input type="text" id="card-number" placeholder="card number" name="card-number" required>
        </div>
        <div class="row-3">
            <div class="row-3-first">
                <select name="month" id="month">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="Nowember">Nowember</option>
                    <option value="December">December</option>
                </select>
                <select name="year" id="year">

                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
                
            </div>

            <div class="row-3-second">
                <span><i class="fa-brands fa-cc-visa"></i></span>
                <span><i class="fa-brands fa-cc-visa"></i></span>
                <span><i class="fa-brands fa-cc-visa"></i></span>
            </div>
        </div>
        <div class="row-4">
            <input type="submit" value="CONFIRM" onclick="location.href='success/<%=courseId %>';">
        </div>
        <p>alphan</p>


    </div>
</body>

</html>