<%- include ('./partials/header') %>
<div class="container mt-5">
    <h1>Welcome , Burak Şentürk </h1>
    <h2 class="mt-5">My Courses</h2>
    <div class="card">
        <img src="" alt="">
        
    </div>
</div>




<%- include ('./partials/footer') %>