<%- include ('../partials/header') %>
<style>
    
</style>
    <!--Simdi kursa video ekle ve kursa quiz ekle diye iki seçenek olacak buralara giderken
course id sini de çekmek lazım ki oraya atsın-->
    <div class="buttons d-flex flex-row justify-content-center">
        <a class="btn btn-outline-success btn-md m-5" href="/putVideo/<%=foundCourse._id%>">Add Video To Course</a>
        <a class="btn btn-outline-warning btn-md m-5" href="/addQuiz/<%=foundCourse._id%>">Add Quiz To Course</a>
        <a class="btn btn-outline-primary btn-md m-5" href="#">Reply Questions</a>
        <a class="btn btn-outline-danger btn-md m-5" href="#">Reply Comments</a>
        <!--Quizi sadece bir kere ekleyebilmeli-->
    </div>


    <%- include ('../partials/footer') %>